/* index.css */

/* Estilos gerais */
body {
    font-family: "Lexend", system-ui;
    background-image: url('imgs/brazil.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    margin: left 215px;;
}

.container {
    width: 500px;
    height: 300px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.6); /* Ajustado para 60% opacidade */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    font-family: "Outfit", sans-serif;
}

.fonte1{
    font-family: "Oswald", sans-serif;
}

.button {
    display: inline-block;
    padding: 8px 15px;
    background: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-left: 0px;
    width: 100%;
    font-family: "Outfit", sans-serif;
    transition: all 450ms ease-in-out;
}

.button:hover {
    background: #0fb300;
}

/* Estilos específicos para login */
.login-form {
    background-color: rgba(231, 240, 255, 0.7); /* Ajustado para 70% opacidade */
    border: 1px solid #d6e4ff;
}

.login-form label {
    font-weight: bold;
}

.login-form input[type="submit"] {
    background-color: #0056b3;
}

.login-form input[type="submit"]:hover {
    background-color: #003d7a;
}

/* Estilos específicos para registro */
.register-form {
    background-color: rgba(231, 255, 231, 0.7); /* Ajustado para 70% opacidade */
    border: 1px solid #d6ffd6;
}

.register-form label {
    font-weight: bold;
}

.register-form input[type="submit"] {
    background-color: #28a745;
}

.register-form input[type="submit"]:hover {
    background-color: #218838;
}


img {
    width: 30%;
}

.carousel-custom {
    width: 40%; /* Define a largura para 40% */
    margin: auto; /* Centraliza o carrossel na página */
}

.carousel-item img {
    width: 40%; /* Garante que as imagens ocupem 100% da largura do carrossel */
    height: 300px;
}

.container {
    max-width: 30%;
    margin-left: 35%;
    padding: 50px;
    background: rgba(255, 255, 255, 0.6); /* Ajustado para 60% opacidade */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}